<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>


    <servlet>
        <servlet-name>scaleServlet</servlet-name>
        <servlet-class>com.servlet.ScaleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>scaleServlet</servlet-name>
        <url-pattern>/image/scale/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>compressServlet</servlet-name>
        <servlet-class>com.servlet.CompressServlet</servlet-class>

    </servlet>

    <servlet-mapping>
        <servlet-name>compressServlet</servlet-name>
        <url-pattern>/image/compress/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>cropServlet</servlet-name>
        <servlet-class>com.servlet.CropServlet</servlet-class>

    </servlet>

    <servlet-mapping>
        <servlet-name>cropServlet</servlet-name>
        <url-pattern>/image/crop/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>scaleServlet2</servlet-name>
        <servlet-class>com.servlet.ScaleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>scaleServlet2</servlet-name>
        <url-pattern>/image/scale2/*</url-pattern>
    </servlet-mapping>



</web-app>